@font-face {
  font-family: nunito;
  src: url(../font/Nunito-Regular.ttf);
}

body {
  margin: 0;
  font-family: nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}

header {
  position: absolute;
  color: white;
  background-color: mediumaquamarine;
  height: 50px;
  width: 100%;
  padding-top: 5px;
  padding-left: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.pdf {
  width: 100%;
  height: 1150px;
}

.pdf-button {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000
}

.pdf-button:hover {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000
}

.pdf-button:focus,
.pdf-button.focus {
  box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.5)
}

.pdf-button.disabled,
.pdf-button:disabled {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000
}

.pdf-button:not(:disabled):not(.disabled):active,
.pdf-button:not(:disabled):not(.disabled).active,
.show>.pdf-button.dropdown-toggle {
  color: #fff;
  background-color: #fd9191;
  border-color: #ff0000
}

.pdf-button:not(:disabled):not(.disabled):active:focus,
.pdf-button:not(:disabled):not(.disabled).active:focus,
.show>.pdf-button.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.5)
}