@font-face {
  font-family: nunito;
  src: url(../font/Nunito-Regular.ttf);
}

body {
  margin: 0;
  font-family: nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}

header {
  position: absolute;
  color: white;
  background-color: mediumaquamarine;
  height: 50px;
  width: 100%;
  padding-top: 5px;
  padding-left: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}